<video id="video" controls></video>

<div class="container">
    <p id="writing-status"></p>
    <div class="send">
        <input type="text" id="input">
        <button id="my-button">Send Message</button>
    </div>
</div>

<div id="messages">

</div>

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-block: 25px;
    }

    .container {
        width: 300px;
    }

    #writing-status {
        position: fixed;
        top: 60px;
    }

    .send {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #messages {
        width: 80%;
    }

    #video {
        width: 80%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>